/*
 *  Camilla: booking system 
 *
 *  Authors:
 *  Bertera Pietro
 *  Rolando Rampoldi
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 *
 *  Contacts:
 *  pietro@bertera.it
 */

body , textarea
{
font-family: Helvatica, "Trebuchet MS", Geneva, Arial, SunSans-Regular, sans-serif;
}


body
{
    font-size: 12px; 
    color:#365A00;
    padding:0px;
    margin: 0px;
    background-image: url("../images/bodybg.png");
    background-repeat:repeat;
}

#login {
    border: 1px solid #f9fabd;
    margin-left: 100px;
    margin-right: 100px;
    padding: 2px;
    font-size: 12px;
}

#error {
    border: 2px solid #ff0000;
    margin-right: 100px;
    padding: 10px;
    font-size: 12px;
}

#area {
   /* 
    border: 1px solid #365A00;
    margin: 5px;
    background-color: #f9fadb;
    */
    padding: 10px;
    font-size: 10px;
}

#area input{
    border: 1px solid #365A00;
    margin: 3px;
    font-size: 10px;
}

#area button{
    background-color: #365A00;  
    color: #ffffff;
    font-size: 10px;
}

#subarea {
    
    border: 1px solid #f9fadb;
    margin: 5px;
    padding: 2px;
    background-color: #ffffff;
    
    font-size: 10px;

}

#elimina a {
    background-color: #ff0000; 
    color: #ffffff;
    padding: 1px;
    margin: 1px;
    border: 1px solid #cccccc;
}

#modifica a {
    background-color: #ffaa33; 
    color: #ffffff;
    padding: 1px;
    margin: 1px;
    border: 1px solid #cccccc;
}

#color {
    border: 1px solid #365A00;
    width: 50px;
    height: 8px;
}
#title {
    font-size:14px;
	font-weight: bold;
}

td
{
    font-size: 12px;
}

a {
    color: #628C2B;
    text-decoration: none;
}

a:visited {color:#567C25;}
a:hover {color: #9D9E32;}
a:active { color:#628C2B;}

h1{
    font-size:24px;
}
h2{
    font-size:16px;
}
h3{
    font-size:14px;
}
h4{
    font-size:12px;
}

form{
    padding: 0px;
    margin: 0px
}

input{
    border: 1px solid #365A00;
    margin: 3px;
}

button{
    background-color: #365A00;  
    color: #ffffff;
}

#container {
width: 880px;
border: 1px solid #365A00;
margin: 10px;
margin-left: auto;
margin-right: auto;
background-image: url("../images/header.jpg");
background-repeat:no-repeat;
background-color: #f9fadb;
}

#banner {
padding: 0px;
margin: 0px;
height: 120px;
}

#banner a
{
color: #ffffff;
text-decoration:none;
}

#banner  a:hover
{color: #E4EBC3;}

#banner h1
{
padding: 50px 20px 0px 80px;
margin: 0px;
}

#banner h2
{
color: #ffffff;
padding: 10px 0px 0px 10px;
margin: 0px;
}

#metanavi
{
    float: right;
    padding: 5px 5px 0px 0px;
    margin: 0px;
    text-align: right;
    margin-top: 60px;
    color: #ffffff;
}
#metanavi a {
    color: #ffffff;
    font-weight: bold; 
    text-decoration: none;
}

#topnavi {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    /*border: 1px solid #365A00;*/
    background-color: #f9fadb;
    /*border-bottom:20px solid #ffffff;*/
    border-bottom: 1px #365A00 solid;
}
#topnavi a
{
    margin: 0px;
    /*padding: 2px 13px;*/
    font-size: 14px;
}

#topnavi a:visited
{
    color:#365A00;
    text-decoration:none;
}

#topnavi a:hover
{
    color:#365A00;
    text-decoration:none;
}
#mainnavi a:active
{
    color:#365A00;
    text-decoration:none;
}


#topnavi a.selected
{
    background-color: #ffffff;
    border-top: 1px #365A00 solid;
    border-right: 2px #cccccc solid;
    border-left: 1px #365A00 solid;
    border-bottom: 2px #ffffff solid;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
}

#content {
    padding: 10px;
    margin:0px;
    margin-right: 159px;
    background-color: #ffffff;
    min-height:320px;
}

#right {
    float: right;
    width: 160px;
    margin: 2px;
    padding: 2px;
    color: #ffffff;
    background-color: #365A00;
}

#right a {
    text-decoration: none;
    color:#657253;
}


#right ul {
    list-style-type: none;
    margin: 0px 15px 20px 15px;
    padding: 0px;
}

#right li {
    margin-bottom: 8px;
}

#left h3, #right h3{
    margin: 0px 0px 5px 0px;
    padding:0px 15px;
}

#footer {
text-align: center;
font-size: 10px;
padding: 2px 10px;
color: #ffffff;
margin: 0px;
background-image: url("../images/footer.jpg");
}

#footer a {
    color:#ffffff;
    text-decoration:none;
}

/* Calendar stuff */

.prenotazione {
	background-color: #ff0000;
}

.opzione {
    background-color: #00ff00;
}

.year {
    clear: none;
}
.month {
    /*border: 1px #365A00 solid;*/
    border: 1px #cccccc solid;
	background-color: #ffffff;
	text-align: center;
    margin: 5px;
    height: 200px;
}
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
    color: #365A00;
}
.monthname {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	background-color: #f9fadb;
	color: #365A00;
	border-width:1px;
    letter-spacing: 3px;
}
.dayname td {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #f9fadb;
	color: #365A00;
	border-width:1px
    width: 20px; 
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #e4e4e4;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker {
	font-size: 11px;
	background-color: #eeeeee;
}
.yearpicker {
	font-size: 11px;
	background-color: #eeeeee;
}
.pickerbutton {
	font-size: 11px;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
.nomonthday {
	height:20px;
	width:20px;
	font-weight: bold;
	text-align: center;
}
.monthday {
	text-align: center;
	font-weight: bold;
	height:20px;
	width:20px;
}
.saturday {
	text-align: center;
	font-weight: bold;
	height:20px;
	width:20px;
}
.sunday {
	text-align: center;
	font-weight: bold;
	height:20px;
	width:20px;
}

.today {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #365A00;
	color: #ffffff;
	height:20px;
	width:20px;
}
.selectedday {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #66ff66;
	height:20px;
	width:20px;
}

.event {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:20px;
	width:20px;
}
.event a {
	background-color: #ffff99;
	color: red;
}
.selectedevent {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:20px;
	width:20px;
}
.selectedevent a {
	background-color: #ffff99;
	color: red;
}
.todayevent {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:20px;
	width:20px;
}
.todayevent a {
	background-color: #ffff99;
	color: red;
}
.eventcontent {
	font-size: 10px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
}
 
